.aceback.aceback {background: @ace-color}
.aceClsfont.aceClsfont {color: @ace-color; text-shadow: 1px 1px @font-shadow-light; }
.acebackround {background-image:  url("assets/PokemonSheets/CharBackground-ace.png")}
.brdback.brdback  {background: @brd-color}
.brdClsfont.brdClsfont {color: @brd-color; text-shadow: 1px 1px @font-shadow-light; }
.brdbackround {background-image:  url("assets/PokemonSheets/CharBackground-brd.png")}
.crdback.crdback  {background: @crd-color}
.crdClsfon.crdClsfont {color: @crd-color; text-shadow: 1px 1px @font-shadow-light; }
.crdbackround {background-image:  url("assets/PokemonSheets/CharBackground-crd.png")}
.rngback.rngback {background: @rng-color}
.rngClsfont.rngClsfont {color: @rng-color; text-shadow: 1px 1px @font-shadow-light; }
.rngbackround {background-image:  url("assets/PokemonSheets/CharBackground-rng.png")}
.rshback.rshback  {background:@rsh-color}
.rshClsfont.rshClsfont {color:@rsh-color; text-shadow: 1px 1px @font-shadow-light; }
.rshbackround {background-image:  url("assets/PokemonSheets/CharBackground-rsh.png")}
.marback.marback  {background: @mar-color}
.marClsfont.marClsfont {color: @mar-color; text-shadow: 1px 1px @font-shadow-light; }
.marbackround {background-image:  url("assets/PokemonSheets/CharBackground-mar.png")}
.psyback.psyback  {background: @psy-color}
.psyClsfont.psyClsfont {color: @psy-color; text-shadow: 1px 1px @font-shadow-light; }
.psybackround {background-image:  url("assets/PokemonSheets/CharBackground-psy.png")}
.pokback.pokback.pokback {
    background: @pok-color;
    color: @font-color-light; text-shadow: 1px 1px @font-shadow-light;
}
.pokClsfont.pokClsfont {color: @pok-color; text-shadow: 1px 1px @font-shadow-light; }
.pokbackround {background-image:  url("assets/PokemonSheets/CharBackground-pok.png")}



.gridcontainer {
    display: grid;
    grid-template-columns: 420px 200px;
    background-color: @background-color2;
}
.gridrow {
    display:grid;
    grid-template-columns: 50% 50%;
    align-items:center;
    text-align: center;

}

.pokemonta3.sheet.actor {
    width: 610px !important;
    min-height: 700px !important;
}

div.editor-content {
    min-width: 410px;
    min-height: 410px;
}

.PCsheet, select {
    border: 0px;
}

.Noboarder.Noboarder, .Noboarder.Noboarder.PCsheet {
    border: 0px;
}

.statbox, .PCsheet.PCsheet {
    text-align: center;
    border: 2px solid @border-color;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    max-width: 170px;
}

.PCsheet.PCsheet {
    font-size: 12px;
}

.statbox {
    font-size: 10px;
    background-color: @background-color4;
}

.origincredit.origincredit {
    background-color: @background-color2;
}
.stats {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 2px;
    text-align: center;
    align-items: center;
}

#rollable:hover, #rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
  
.navigationselection {
    padding: 5px;
    border: 2px solid @border-color;
    border-top: 2px solid @border-color !important;
    border-bottom: 2px  solid @border-color !important;
    border-radius: 10px;
}

.skillbox {
    font-size: 10px;
    display: flex;
    flex-wrap: wrap;
}
.skill {
    font-size: 10px;
    display: grid;
    grid-template-columns: 25px 20px 165px;
    text-align: center;
    align-items: center;
}
.skillfeaturetitle {
    width: 100%;
    margin-top: 0px;
    font-size: 12px;
    margin-bottom: 0px;

}
.biography.tab {
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 0px;
}
div.checkboxes {
    display: grid;
    grid-template-rows: 10px 10px;
    align-items: first center;
    width: 10px;
}
input.statinbox {
    width: 10px;
    height: 10px;
    align-items: center;
}
.PCsheet#honor {
    display: flex;
    flex-direction: row;
}

.gridrow30-60#nature {
    grid-template-columns: 30% 60%;
    max-width: none;
}
.PCsheet#nature {
    flex-direction: row;
    max-width: none;
    width: 290px;
}
input#nature {
    min-width: 190px;
}

.PCsheet.typing {
    height: 36px;
}
.item-controls {
    text-align: end;
}
