.aceback.aceback {background: @ace-color}
.aceClsfont.aceClsfont {color: @ace-color; text-shadow: 1px 1px @font-shadow-light; }
.brdback.brdback  {background: @brd-color}
.brdClsfont.brdClsfont {color: @brd-color; text-shadow: 1px 1px @font-shadow-light; }
.crdback.crdback  {background: @crd-color}
.crdClsfon.crdClsfont {color: @crd-color; text-shadow: 1px 1px @font-shadow-light; }
.rngback.rngback {background: @rng-color}
.rngClsfont.rngClsfont {color: @rng-color; text-shadow: 1px 1px @font-shadow-light; }
.rshback.rshback  {background:@rsh-color}
.rshClsfont.rshClsfont {color:@rsh-color; text-shadow: 1px 1px @font-shadow-light; }
.marback.marback  {background: @mar-color}
.marClsfont.marClsfont {color: @mar-color; text-shadow: 1px 1px @font-shadow-light; }
.psyback.psyback  {background: @psy-color}
.psyClsfont.psyClsfont {color: @psy-color; text-shadow: 1px 1px @font-shadow-light; }
.pokback.pokback  {background: @pok-color}
.pokClsfont.pokClsfont {color: @pok-color; text-shadow: 1px 1px @font-shadow-light; }

.gridcontainer {
    display: grid;
    grid-template-columns: 420px 200px;
    
}

.pokemonta3.sheet.actor {
    width: 610px !important;
    height: 700px !important;
}

.PCsheet, select {
    border: 0px;
}

.Noboarder.Noboarder {
    border: 0px;
}

.statbox, .PCsheet.PCsheet {
    text-align: center;
    border: 2px solid @border-color;
    border-radius: 10px;
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2px;
    max-width: 170px;
    text-align: center;
}

.PCsheet.PCsheet {
    font-size: 12px;
}

.statbox {
    font-size: 10px;
    background-color: @background-color4;
}

.origincredit.origincredit {
    background-color: @background-color2;
}
.stats {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    margin: 2px;
    text-align: center;
    align-items: center;
}

#rollable:hover, #rollable:focus {
    color: #000;
    text-shadow: 0 0 10px red;
    cursor: pointer;
  }
  
.navigationselection {
    padding: 5px;
    border: 2px solid @border-color;
    border-top: 2px solid @border-color !important;
    border-bottom: 2px  solid @border-color !important;
    border-radius: 10px;
}