@font-face {
    font-family: pokemonXandY;
    src: url("fonts/Pokemon X and Y.ttf");
}

@font-face {
    font-family: pokemonClassic;
    src: url("fonts/Pokemon Classic.ttf");
}


form.trainer, form.pokemon, form.item, button.item {
    font-family: pokemonClassic, pokemonXandY;
    font-size: smaller;
}


//Main Colors
@main-color: #5090e0;
@background-color1: #8898a8;
@background-color2: #e0e8e8;
@background-color3: #3a4249;
@background-color4: #c8d0d8;
@background-colorHP: #a32121;
@font-color-dark: #000000;
@font-color-light: #f8f8f8;
@font-shadow-light: #686868;
@font-shadow-dark: #000000;
@border-color: #404040;
@poke-background: #10a840;
@poke-outline: #68d870;
@poke-border: #004800;

//Typing Colors
@non-color: #3a4249;
@bug-color: #abba38;
@dar-color: #745949;
@dra-color: #703cf1;
@ele-color: #fdd434;
@fai-color: #df83be;
@fig-color: #c5302a;
@fir-color: #f98133;
@fly-color: #a894ef;
@gho-color: #7f727d;
@gra-color: #7bc956;
@gro-color: #dbc177;
@ice-color: #9cdede;
@nor-color: #a7a684;
@poi-color: #a244a8;
@psy-color: #e16887;
@roc-color: #bca539;
@ste-color: #bdbdd6;
@wat-color: #6995f6;

//Trainer Colors:
@ace-color: #e44649;
@brd-color: #90c655;
@crd-color: #5994ca;
@rng-color: #eeb711;
@rsh-color: #bd57e0;
@mar-color: #ac6231;
@pst-color: #ee96ee;
@pok-color: #111111;

//Contest Colors:
@bty-color:#6d9eeb;
@clv-color:#98d784;
@cut-color:#f091c2;
@col-color:#ff0000;
@tgh-color:#e69138;


/* Global styles */

.lighttrimmedfont.lighttrimmedfont {
    color: @font-color-light;
    background-color: @background-color3;
    text-shadow: 1px 1px @font-shadow-light;
}
#lightinput {
    color: @font-color-light;
    background-color: none;
    text-shadow: 1px 1px @font-shadow-light;
}
.darktrimmedfont.darktrimmedfont {
    color: @font-color-dark;
    background-color: @background-color2;
    text-shadow: 1px 1px @font-shadow-light;
}

#darkinput {
    color: @font-color-dark;
    background-color: @background-color2;
    text-shadow: 1px 1px @font-shadow-light;
}
.HPrimmedfont.HPrimmedfont.HPrimmedfont {
    color: @font-color-light;
    background-color: @background-colorHP;
    text-shadow: 1px 1px @font-shadow-light;
    display: grid;
    grid-template-columns: 17% 38% 7% 38%;
}

.nonback.nonback {background-color: @non-color}
.norback.norback {background-color: @nor-color}
.firback.firback {background-color: @fir-color}
.watback.watback {background-color: @wat-color}
.eleback.eleback {background-color: @ele-color}
.graback.graback {background-color: @gra-color}
.iceback.iceback {background-color: @ice-color}
.figback.figback {background-color: @fig-color}
.poiback.poiback {background-color: @poi-color}
.groback.groback {background-color: @gro-color}
.flyback.flyback {background-color: @fly-color}
.psyback.psyback {background-color: @psy-color}
.bugback.bugback {background-color: @bug-color}
.rocback.rocback {background-color: @roc-color}
.ghoback.ghoback {background-color: @gho-color}
.draback.draback {background-color: @dra-color}
.darback.darback {background-color: @dar-color}
.steback.steback {background-color: @ste-color}
.faiback.faiback {background-color: @fai-color}

.nonClsfont.nonClsfont {color: @non-color; text-shadow: 1px 1px @font-shadow-light; }
.norClsfont.norClsfont {color: @nor-color; text-shadow: 1px 1px @font-shadow-light; }
.firClsfont.firClsfont {color: @fir-color; text-shadow: 1px 1px @font-shadow-light; }
.watClsfont.watClsfont {color: @wat-color; text-shadow: 1px 1px @font-shadow-light; }
.eleClsfont.eleClsfont {color: @ele-color; text-shadow: 1px 1px @font-shadow-light; }
.graClsfont.graClsfont {color: @gra-color; text-shadow: 1px 1px @font-shadow-light; }
.iceClsfont.iceClsfont {color: @ice-color; text-shadow: 1px 1px @font-shadow-light; }
.figClsfont.figClsfont {color: @fig-color; text-shadow: 1px 1px @font-shadow-light; }
.poiClsfont.poiClsfont {color: @poi-color; text-shadow: 1px 1px @font-shadow-light; }
.groClsfont.groClsfont {color: @gro-color; text-shadow: 1px 1px @font-shadow-light; }
.flyClsfont.flyClsfont {color: @fly-color; text-shadow: 1px 1px @font-shadow-light; }
.psyClsfont.psyClsfont {color: @psy-color; text-shadow: 1px 1px @font-shadow-light; }
.bugClsfont.bugClsfont {color: @bug-color; text-shadow: 1px 1px @font-shadow-light; }
.rocClsfont.rocClsfont {color: @roc-color; text-shadow: 1px 1px @font-shadow-light; }
.ghoClsfont.ghoClsfont {color: @gho-color; text-shadow: 1px 1px @font-shadow-light; }
.draClsfont.draClsfont {color: @dra-color; text-shadow: 1px 1px @font-shadow-light; }
.darClsfont.darClsfont {color: @dar-color; text-shadow: 1px 1px @font-shadow-light; }
.steClsfont.steClsfont {color: @ste-color; text-shadow: 1px 1px @font-shadow-light; }
.faiClsfont.faiClsfont {color: @fai-color; text-shadow: 1px 1px @font-shadow-light; }

.btyback.btyback {background-color: @bty-color}
.clvback.clvback {background-color: @clv-color}
.cutback.cutback {background-color: @cut-color}
.colback.colback {background-color: @col-color}
.tghback.tghback {background-color: @tgh-color}

.nonbackround {background-image:  url("assets/PokemonSheets/TypeBackground - None.png")}
.norbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Normal.png")}
.firbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Fire.png")}
.watbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Water.png")}
.elebackround {background-image:  url("assets/PokemonSheets/TypeBackground - Electric.png")}
.grabackround {background-image:  url("assets/PokemonSheets/TypeBackground - Grass.png")}
.icebackround {background-image:  url("assets/PokemonSheets/TypeBackground - Ice.png")}
.figbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Fighting.png")}
.poibackround {background-image:  url("assets/PokemonSheets/TypeBackground - Posion.png")}
.grobackround {background-image:  url("assets/PokemonSheets/TypeBackground - Ground.png")}
.flybackround {background-image:  url("assets/PokemonSheets/TypeBackground - Flying.png")}
.psybackround {background-image:  url("assets/PokemonSheets/TypeBackground - Psychic.png")}
.bugbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Bug.png")}
.rocbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Rock.png")}
.ghobackround {background-image:  url("assets/PokemonSheets/TypeBackground - Ghost.png")}
.drabackround {background-image:  url("assets/PokemonSheets/TypeBackground - Dragon.png")}
.darbackround {background-image:  url("assets/PokemonSheets/TypeBackground - Dark.png")}
.stebackround {background-image:  url("assets/PokemonSheets/TypeBackground - Steel.png")}
.faibackround {background-image:  url("assets/PokemonSheets/TypeBackground - Fairy.png")}


.atkback.atkback {background-color: #eb5628}
.spcback.spcback {background-color: #375ab2}
.staback.staback {background-color: #828282}


.window-content.window-content {
    background-color: @background-color2;
    background-image: none;
}

.gridrow30, .gridrow30-60, .gridrow20-30-30, .gridrow80-20, .gridrow15-35-30, .pix185-250, .gridrow50, .gridrow20-30-30-20  {
    display:grid;
    align-items:center;
    text-align: justify;
    max-width: none;
}
.gridrow30 {
    grid-template-columns: 33% 34% 33%;
}
.gridrow20-30-30-20 {
    grid-template-columns: 20% 30% 30% 20%;
}
.gridrow30-60{
    grid-template-columns: 30% 60%;
    max-width: none;
}
.gridrow20-30-30 {
    grid-template-columns: 20% 30% 30%;
}
.gridrow80-20 {
    grid-template-columns: 80% 20%;
}
.gridrow15-35-30 {
    grid-template-columns: 15% 35% 30%;
}
.gridrow50 {
    grid-template-columns: 50% 50%;
}
.PCsheet.gridrow50.gridrow50 {
    grid-template-columns: 50% 50%;
    display:grid;
    align-items:center;
    text-align: justify;
    max-width: none;
}
.sidebar.item {
    justify-content: center;
    display: grid;
}
.pix185-250 {
    grid-template-columns: 185px 365px;
}
.gridrow80-20.textcenter {
    justify-content: center;
    text-align: center;
}
