@font-face {
  font-family: pokemonXandY;
  src: url("fonts/Pokemon X and Y.ttf");
}
@font-face {
  font-family: pokemonClassic;
  src: url("fonts/Pokemon Classic.ttf");
}
.window-content {
  font-family: pokemonClassic, pokemonXandY;
  font-size: smaller;
}
/* Global styles */
.lighttrimmedfont {
  color: #f8f8f8;
  background-color: #3a4249;
  text-shadow: 1px 1px #686868;
}
#lightinput {
  color: #f8f8f8;
  background-color: #3a4249;
  text-shadow: 1px 1px #686868;
}
.darktrimmedfont {
  color: #000000;
  background-color: #e0e8e8;
  text-shadow: 1px 1px #686868;
}
#darkinput {
  color: #000000;
  background-color: #e0e8e8;
  text-shadow: 1px 1px #686868;
}
.shoot form {
  display: flex;
  flex-direction: column;
}
.shoot .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.shoot .editor {
  height: 100%;
}
.aceback {
  background: #e44649 !important;
}
.aceClsfont {
  color: #e44649 !important;
  text-shadow: 1px 1px #686868;
}
.brdback {
  background: #90c655 !important;
}
.brdClsfont {
  color: #90c655 !important;
  text-shadow: 1px 1px #686868;
}
.crdback {
  background: #5994ca !important;
}
.crdClsfont {
  color: #5994ca !important;
  text-shadow: 1px 1px #686868;
}
.rngback {
  background: #eeb711 !important;
}
.rngClsfont {
  color: #eeb711 !important;
  text-shadow: 1px 1px #686868;
}
.rshback {
  background: #bd57e0 !important;
}
.rshClsfont {
  color: #bd57e0 !important;
  text-shadow: 1px 1px #686868;
}
.marback {
  background: #ac6231 !important;
}
.marClsfont {
  color: #ac6231 !important;
  text-shadow: 1px 1px #686868;
}
.psyback {
  background: #ee96ee !important;
}
.psyClsfont {
  color: #ee96ee !important;
  text-shadow: 1px 1px #686868;
}
.pokback {
  background: #111111;
}
.pokClsfont {
  color: #111111 !important;
  text-shadow: 1px 1px #686868;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 410px 180px;
}
.PCsheet,
select {
  border: 0px;
}
.PCsheet {
  font-size: 12px;
  border: 2px solid #404040;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  max-width: 170px;
  text-align: center;
}
input[type="text"],
.primaryclass,
[id$="font"] {
  font-size: 12px;
  border: 2px solid #404040;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  max-width: 170px;
  text-align: center;
}
.statbox {
  font-size: 10px;
  text-align: center;
  border: 2px solid #404040;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  max-width: 170px;
  background-color: #c8d0d8;
}
.stats {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 2px;
  text-align: center;
  align-items: center;
}
#rollable:hover,
#rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
