@font-face {
  font-family: pokemonXandY;
  src: url("fonts/Pokemon X and Y.ttf");
}
@font-face {
  font-family: pokemonClassic;
  src: url("fonts/Pokemon Classic.ttf");
}
form.trainer {
  font-family: pokemonClassic, pokemonXandY;
  font-size: smaller;
}
/* Global styles */
.lighttrimmedfont.lighttrimmedfont {
  color: #f8f8f8;
  background-color: #3a4249;
  text-shadow: 1px 1px #686868;
}
#lightinput {
  color: #f8f8f8;
  background-color: none;
  text-shadow: 1px 1px #686868;
}
.darktrimmedfont.darktrimmedfont {
  color: #000000;
  background-color: #e0e8e8;
  text-shadow: 1px 1px #686868;
}
#darkinput {
  color: #000000;
  background-color: #e0e8e8;
  text-shadow: 1px 1px #686868;
}
.HPrimmedfont.HPrimmedfont.HPrimmedfont {
  color: #f8f8f8;
  background-color: #a32121;
  text-shadow: 1px 1px #686868;
  display: grid;
  grid-template-columns: 17% 38% 7% 38%;
}
.nonback.nonback {
  background: #3a4249;
}
.norback.norback {
  background: #a7a684;
}
.firback.firback {
  background: #f98133;
}
.watback.watback {
  background: #6995f6;
}
.eleback.eleback {
  background: #fdd434;
}
.graback.graback {
  background: #7bc956;
}
.iceback.iceback {
  background: #9cdede;
}
.figback.figback {
  background: #c5302a;
}
.poiback.poiback {
  background: #a244a8;
}
.groback.groback {
  background: #dbc177;
}
.flyback.flyback {
  background: #a894ef;
}
.psyback.psyback {
  background: #ee96ee;
}
.bugback.bugback {
  background: #abba38;
}
.rocback.rocback {
  background: #bca539;
}
.ghoback.ghoback {
  background: #7f727d;
}
.draback.draback {
  background: #703cf1;
}
.darback.darback {
  background: #745949;
}
.steback.steback {
  background: #bdbdd6;
}
.faiback.faiback {
  background: #df83be;
}
.nonClsfont.nonClsfont {
  color: #3a4249;
  text-shadow: 1px 1px #686868;
}
.norClsfont.norClsfont {
  color: #a7a684;
  text-shadow: 1px 1px #686868;
}
.firClsfont.firClsfont {
  color: #f98133;
  text-shadow: 1px 1px #686868;
}
.watClsfont.watClsfont {
  color: #6995f6;
  text-shadow: 1px 1px #686868;
}
.eleClsfont.eleClsfont {
  color: #fdd434;
  text-shadow: 1px 1px #686868;
}
.graClsfont.graClsfont {
  color: #7bc956;
  text-shadow: 1px 1px #686868;
}
.iceClsfont.iceClsfont {
  color: #9cdede;
  text-shadow: 1px 1px #686868;
}
.figClsfont.figClsfont {
  color: #c5302a;
  text-shadow: 1px 1px #686868;
}
.poiClsfont.poiClsfont {
  color: #a244a8;
  text-shadow: 1px 1px #686868;
}
.groClsfont.groClsfont {
  color: #dbc177;
  text-shadow: 1px 1px #686868;
}
.flyClsfont.flyClsfont {
  color: #a894ef;
  text-shadow: 1px 1px #686868;
}
.psyClsfont.psyClsfont {
  color: #ee96ee;
  text-shadow: 1px 1px #686868;
}
.bugClsfont.bugClsfont {
  color: #abba38;
  text-shadow: 1px 1px #686868;
}
.rocClsfont.rocClsfont {
  color: #bca539;
  text-shadow: 1px 1px #686868;
}
.ghoClsfont.ghoClsfont {
  color: #7f727d;
  text-shadow: 1px 1px #686868;
}
.draClsfont.draClsfont {
  color: #703cf1;
  text-shadow: 1px 1px #686868;
}
.darClsfont.darClsfont {
  color: #745949;
  text-shadow: 1px 1px #686868;
}
.steClsfont.steClsfont {
  color: #bdbdd6;
  text-shadow: 1px 1px #686868;
}
.faiClsfont.faiClsfont {
  color: #df83be;
  text-shadow: 1px 1px #686868;
}
.shoot form {
  display: flex;
  flex-direction: column;
}
.shoot .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.shoot .editor {
  height: 100%;
}
.aceback.aceback {
  background: #e44649;
}
.aceClsfont.aceClsfont {
  color: #e44649;
  text-shadow: 1px 1px #686868;
}
.acebackround {
  background-image: url("assets/PokemonSheets/CharBackground-ace.png");
}
.brdback.brdback {
  background: #90c655;
}
.brdClsfont.brdClsfont {
  color: #90c655;
  text-shadow: 1px 1px #686868;
}
.brdbackround {
  background-image: url("assets/PokemonSheets/CharBackground-brd.png");
}
.crdback.crdback {
  background: #5994ca;
}
.crdClsfon.crdClsfont {
  color: #5994ca;
  text-shadow: 1px 1px #686868;
}
.crdbackround {
  background-image: url("assets/PokemonSheets/CharBackground-crd.png");
}
.rngback.rngback {
  background: #eeb711;
}
.rngClsfont.rngClsfont {
  color: #eeb711;
  text-shadow: 1px 1px #686868;
}
.rngbackround {
  background-image: url("assets/PokemonSheets/CharBackground-rng.png");
}
.rshback.rshback {
  background: #bd57e0;
}
.rshClsfont.rshClsfont {
  color: #bd57e0;
  text-shadow: 1px 1px #686868;
}
.rshbackround {
  background-image: url("assets/PokemonSheets/CharBackground-rsh.png");
}
.marback.marback {
  background: #ac6231;
}
.marClsfont.marClsfont {
  color: #ac6231;
  text-shadow: 1px 1px #686868;
}
.marbackround {
  background-image: url("assets/PokemonSheets/CharBackground-mar.png");
}
.psyback.psyback {
  background: #ee96ee;
}
.psyClsfont.psyClsfont {
  color: #ee96ee;
  text-shadow: 1px 1px #686868;
}
.psybackround {
  background-image: url("assets/PokemonSheets/CharBackground-psy.png");
}
.pokback.pokback.pokback {
  background: #111111;
  color: #f8f8f8;
  text-shadow: 1px 1px #686868;
}
.pokClsfont.pokClsfont {
  color: #111111;
  text-shadow: 1px 1px #686868;
}
.pokbackround {
  background-image: url("assets/PokemonSheets/CharBackground-pok.png");
}
.window-content.window-content {
  background-color: #e0e8e8;
  background-image: none;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 420px 200px;
  background-color: #e0e8e8;
}
.gridrow {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
}
.pokemonta3.sheet.actor {
  width: 610px !important;
  min-height: 700px !important;
}
div.editor-content {
  min-width: 410px;
  min-height: 410px;
}
.PCsheet,
select {
  border: 0px;
}
.Noboarder.Noboarder {
  border: 0px;
}
.statbox,
.PCsheet.PCsheet {
  text-align: center;
  border: 2px solid #404040;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2px;
  max-width: 170px;
}
.PCsheet.PCsheet {
  font-size: 12px;
}
.statbox {
  font-size: 10px;
  background-color: #c8d0d8;
}
.origincredit.origincredit {
  background-color: #e0e8e8;
}
.stats {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  margin: 2px;
  text-align: center;
  align-items: center;
}
#rollable:hover,
#rollable:focus {
  color: #000;
  text-shadow: 0 0 10px red;
  cursor: pointer;
}
.navigationselection {
  padding: 5px;
  border: 2px solid #404040;
  border-top: 2px solid #404040 !important;
  border-bottom: 2px solid #404040 !important;
  border-radius: 10px;
}
.skillbox {
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
}
.skill {
  font-size: 10px;
  display: grid;
  grid-template-columns: 25px 20px 165px;
  text-align: center;
  align-items: center;
}
.skillfeaturetitle {
  width: 100%;
  margin-top: 0px;
  font-size: 12px;
  margin-bottom: 0px;
}
.biography.tab {
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 0px;
}
div.checkboxes {
  display: grid;
  grid-template-rows: 10px 10px;
  align-items: first center;
  width: 10px;
}
input.statinbox {
  width: 10px;
  height: 10px;
  align-items: center;
}
.PCsheet#honor {
  display: flex;
  flex-direction: row;
}
.gridrow30,
.gridrow30-60 {
  display: grid;
  align-items: center;
  text-align: justify;
  max-width: none;
}
.gridrow30 {
  grid-template-columns: 30% 30% 30%;
}
.gridrow30-60 {
  grid-template-columns: 30% 60%;
  max-width: none;
}
.gridrow30-60#nature {
  grid-template-columns: 30% 60%;
  max-width: none;
}
.PCsheet#nature {
  flex-direction: row;
  max-width: none;
  width: 290px;
}
input#nature {
  min-width: 190px;
}
.PCsheet.typing {
  height: 36px;
}
.item-controls {
  text-align: end;
}
ol {
  padding-left: 2px;
  padding-right: 2px;
}
hr.rounded {
  border-top: 2px solid #8898a8;
  border-radius: 1px;
  margin: 0px;
}
.gridrow1 {
  display: grid;
  grid-template-columns: 90%  10%;
}
.gridrow2 {
  display: grid;
  grid-template-columns: 10%  90%;
}
.gridrow3 {
  display: grid;
  grid-template-columns: 15%  85%;
  align-items: center;
  text-align: left;
}
.gridrow4 {
  display: grid;
  grid-template-columns: 65%  25% 10%;
}
.gridrow5 {
  display: grid;
  grid-template-columns: 35%  40% 25%;
}
div.item-quanity.item-quanity {
  align-items: center;
  text-align: center;
}
.partnermons-list.darktrimmedfont {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.partnermon1.partnermon1 {
  text-align: center;
  border: 2px solid #404040;
  border-radius: 10px;
  padding: 3px;
  display: flex;
  margin: 2px;
  max-width: 200px;
  align-items: center;
  background-image: linear-gradient(#006820, #30d850);
  color: #f8f8f8;
  text-shadow: 1px 1px #686868;
}
.pokeballimage {
  background-image: url("assets/items/ball/poke.png");
  width: 32px;
  height: 32px;
}
.partnerinput {
  width: 150px;
}
