@font-face {
  font-family: pokemonXandY;
  src: url("fonts/Pokemon X and Y.ttf");
}
@font-face {
  font-family: pokemonClassic;
  src: url("fonts/Pokemon Classic.ttf");
}
.window-app .window-content {
  font-family: pokemonClassic, pokemonXandY;
  font-size: smaller;
}
/* Global styles */
.shoot form {
  display: flex;
  flex-direction: column;
}
.shoot .sheet-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.shoot .editor {
  height: 100%;
}
.gridcontainer {
  display: grid;
  grid-template-columns: 400px 175px;
}
.sidebar {
  display: flex;
  flex-direction: column;
  font-size: medium;
}
.mainbar {
  display: flex;
  flex-direction: column;
}
.fontNav {
  font-size: smaller;
}
.fontName {
  font-size: 14px;
}
.resource-content {
  font-size: smaller;
}
